@import '../abstracts/mixins';
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;

   
   @include respond(tab-portrait){
    font-size: 50%;
   }
   @include respond(tab-landscape){
    font-size: 56.25%;
   }
   @include respond(phone){
    font-size: 35%;
   }
   @include respond(big-desktop){
    font-size: 75%;
   }
}
body{
   font-family: var(--font-family); 
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.7 ;
   color: #777;
//    padding: 3rem;

   box-sizing: border-box;
}
a{
    color: unset;
    text-decoration: none;
}