.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    color: white;
    font-size: 2rem;

    border-radius: 3px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.096) 0px 10px 20px,
      rgba(0, 0, 0, 0.096) 0px 5px 5px;
    position: absolute;
    height: 52rem;
    width: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--front {
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          #fad609ad,
          #ff6600b0
        );
      }
      &-2 {
        background-image: linear-gradient(to right bottom, #3f9cf3, #1b09c4);
      }
      &-3 {
        background-image: linear-gradient(to right bottom, #94f15dc9, #acbd16c7);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
  // card front style
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    overflow: hidden;

    &-1 {
      background-image: linear-gradient(to right bottom, #fad609ad, #ff6600b0),
        url("../../images/about3.jpg");
    }
    &-2 {
      background-image: linear-gradient(to right bottom, #3f9cf3, #1b09c4),url("../../images/about3.jpg");
    }
    &-3 {
      background-image: linear-gradient(to right bottom, #94f15dc9, #acbd16c7),url("../../images/about2.jpg");
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 13rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    &-1 {
      background-image: linear-gradient(to right bottom, #fad609c9, #ff6600c7);
    }
    &-2 {
      background-image: linear-gradient(to right bottom, #3f9cf3, #1b09c4);
    }
    &-3 {
      background-image: linear-gradient(to right bottom, #60f50ac9, #0da326c7);
    }
  }
  &__details {
    color: $color-gray-dark;
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }

  // card back style
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__price-box {
    text-align: center;
    margin-bottom: 5rem;
  }
  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
